<script lang="ts">
  export let heading: {
    text: Drupal.Markup;
    level?: string;
    attributes?: Drupal.Attributes;
  };

  export let attributes: Drupal.Attributes;

  export let links: {
    [index: string]: {
      link?: Drupal.Markup;
      text?: Drupal.Markup;
      attributes?: Drupal.Attributes;
      textAttributes?: Drupal.Attributes;
    };
  };
</script>

{#if links}
  {#if heading}
    {/* TODO: Figure out how to replace "h2" with a dynamic tag name (heading.level) in Mitosis. */}
    <h2 {...heading.attributes}>{heading.text}</h2>
  {/if}

  <ul {...attributes}>
    {/* TODO: "each" expects an array, but links is an object. */}
    {#each links as {link, text, attributes, textAttributes}, index (index)}
      <li {...attributes}>
        {#if link}
          {link}
        {:else if textAttributes}
          <span {...textAttributes}>{text}</span>
        {:else}
          {text}
        {/if}
      </li>
    {/each}
  </ul>
{/if}
